* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    max-width: 1280px;
}

#products-container {
    display: grid;
    grid-template-columns: minmax(200px, 1fr);
    gap: 20px;
}

.product-card {
    padding: 15px;
    border-radius: 15px;
    background-color: beige;

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}