* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    max-width: 1280px;
}

.search__input {
    padding: 5px;
    width: 100%;
}

#products-container {
    width: 100%;
    padding: 10px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.card {
    border-radius: 10px;
    padding: 10px;

    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
}