* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.modal-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .4);

    display: none;
    justify-content: center;
    align-items: center;
}

.modal-wrapper.active {
    display: flex;
}

.modal-container {
    padding: 30px;
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
}

.modal-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.error-message {
    color: red;
}

.modal-form input {
    padding: 10px;
    font-size: 16px;
}

.form-control {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form-button {
    padding: 10px;
    cursor: pointer;
}