.hidden {
    display: none;
}

.new-block {
    margin: 50px 0;
    border: 1px solid black;
    border-radius: 10px;
    padding: 15px;
}

.new-block > h2 {
    color: lightgreen;
}

.shop-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.shop-item {
    border: 1px solid black;
    border-radius: 5px;

    padding: 15px;

    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

    position: relative;
}

.shop-item-category {
    position: absolute;

    background-color: gray;
    border-radius: 10px;
    padding: 10px 15px;

    top: 50%;
    right: 10%;

    color: white;
}

.shop-item-discount {
    position: absolute;

    background-color: red;
    border-radius: 10px;
    padding: 5px;

    top: 20%;
    left: 10%;

    color: white;
}

.shop-item-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
}

.shop-item-img {
    max-width: 256px;
}

#q4-container {
    max-width: 1240px;
    margin: 0 auto;
}